# Cruise Overview

In [1]:
import numpy as np
import pandas as pd

In [2]:
def is122(col):
    if col in ["PS122.1", "PS122.2", "PS122-2"]:
        return "PS122"
    else:
        return col

In [3]:
#df_all = pd.read_csv("output/allcruises_df_validated.csv")
df_wo99 = pd.read_csv('output/update_allcruises_df_validated_5with_zoomie_20230727.csv',sep=";")
df_wo99 = df_wo99[df_wo99["object_cruise"] != "PS99.2"]
df_wo99 = df_wo99[df_wo99["label"] != "Artefact"]

df_wo99["object_cruise"] =df_wo99["object_cruise"].apply(is122)
#df99 = pd.read_csv("output/update_wo_artefacts_test_dataset_PS992_03032023.csv")
df99 = pd.read_csv("output/update_wo_artefacts_test_dataset_PS992_20230727_nicole.csv",sep=";")
df99 = df99[df99["label"] != "Artefact"]  # remove artefact

df_all=pd.concat([df_wo99, df99])
list(df_all.columns)

['new_index',
 'img_file_name',
 'img_rank',
 'object_id',
 'object_lat',
 'object_lon',
 'object_date',
 'object_time',
 'object_link',
 'object_depth_min',
 'object_depth_max',
 'object_annotation_status',
 'object_annotation_person_name',
 'object_annotation_person_email',
 'object_annotation_date',
 'object_annotation_time',
 'object_annotation_category',
 'object_annotation_category_id',
 'object_index',
 'object_haul',
 'object_bottom_depth',
 'object_pressure',
 'object_temperature',
 'object_salinity',
 'object_conductivity',
 'object_oxygen_concentration',
 'object_temperature_oxsens',
 'object_oxygen_saturation',
 'object_dr._haardt_fluorescence_channel_a',
 'object_area_px',
 'object_form',
 'object_area',
 'object_length',
 'object_width',
 'object_convexity',
 'object_structure',
 'object_graymean',
 'object_kurtosis',
 'object_skewness',
 'object_hu_moment_1',
 'object_hu_moment_2',
 'object_hu_moment_3',
 'object_hu_moment_4',
 'object_hu_moment_5',
 'object_hu_moment_6',
 'object_hu_moment_7',
 'object_fourier_descriptor_01',
 'object_fourier_descriptor_02',
 'object_fourier_descriptor_03',
 'object_fourier_descriptor_04',
 'object_fourier_descriptor_05',
 'object_fourier_descriptor_06',
 'object_fourier_descriptor_07',
 'object_fourier_descriptor_08',
 'object_fourier_descriptor_09',
 'object_fourier_descriptor_10',
 'object_posx',
 'object_posy',
 'object_milliseconds',
 'object_timestamp',
 'object_lenght',
 'object_zoomie_group_id',
 'object_mc_width',
 'object_mc_height',
 'object_mc_bx',
 'object_mc_by',
 'object_mc_circ.',
 'object_mc_area_exc',
 'object_mc_area',
 'object_mc_%area',
 'object_mc_major',
 'object_mc_minor',
 'object_mc_y',
 'object_mc_x',
 'object_mc_convex_area',
 'object_mc_min',
 'object_mc_max',
 'object_mc_mean',
 'object_mc_intden',
 'object_mc_perim.',
 'object_mc_elongation',
 'object_mc_range',
 'object_mc_perimareaexc',
 'object_mc_perimmajor',
 'object_mc_circex',
 'object_mc_angle',
 'object_mc_bounding_box_area',
 'object_mc_eccentricity',
 'object_mc_equivalent_diameter',
 'object_mc_euler_number',
 'object_mc_extent',
 'object_mc_local_centroid_col',
 'object_mc_local_centroid_row',
 'object_mc_solidity',
 'object_cruise',
 'object_vessel_name',
 'object_station',
 'object_manual_classification',
 'object_zoomie_state',
 'object_mc_label',
 'sample_id',
 'sample_dataportal_descriptor',
 'process_id',
 'acq_id',
 'acq_instrument',
 'root_path',
 'count',
 'label',
 'phase',
 'Unnamed: 0']

In [4]:
df_cruises = df_all.groupby("object_cruise").agg("sum")
df_cruises["object_cruise"] = df_cruises.index
def calc_num_of_cls(cru):
    return len(set(df_all[df_all["object_cruise"] == cru]['label']))
def calc_date_begin(cru):
    return int(np.min(df_all[df_all["object_cruise"] == cru]['object_date']))
def calc_date_end(cru):
    return int(np.max(df_all[df_all["object_cruise"] == cru]['object_date']))
df_cruises["classes"] = df_cruises["object_cruise"].apply(calc_num_of_cls)
df_cruises["begin_date"] = df_cruises["object_cruise"].apply(calc_date_begin)
df_cruises["end_date"] = df_cruises["object_cruise"].apply(calc_date_end)
df_cruises_tab = df_cruises[["count","classes","begin_date","end_date"]]
df_cruises_tab = df_cruises_tab.sort_values('begin_date')
df_cruises_tab

/var/folders/l5/7vqpfl9j2yd9xqq2n8kh8tyc0000gn/T/ipykernel_29811/2995539503.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_cruises = df_all.groupby("object_cruise").agg("sum")

                count  classes  begin_date  end_date
object_cruise
PS99.2          20683       31    20160630  20160707
PS106.2         42462       33    20170207  20170717
PS107          121628       32    20170726  20170813
PS114            7199       25    20180716  20180716
PS122           23190       30    20191110  20200916

In [5]:
df_cruises_tab.to_csv("paper/tables/table1_20230727.csv", sep=";")

In [9]:
df_all["label"].unique().tolist()

['Chaetognata_head',
 'Copepoda_Microcalanus',
 'Copepoda_Calanus',
 'Euphausiacea',
 'multiples',
 'Detritus',
 'Bubble',
 'Copepoda_Pseudocalanus',
 'Copepoda_Oncaea',
 'Copepoda_Spinocalanus',
 'Ostracoda',
 'Copepoda_Metridia_longa',
 'Copepoda_Scaphocalanus',
 'Copepoda_Calanoida',
 'Nauplii',
 'Rhizaria',
 'Polychaeta',
 'Feces',
 'Copepoda_Oithona',
 'Chaetognata_tail',
 'Chaetognata_middle',
 'Eggs',
 'Crustacea',
 'Copepoda_Paraeuchaeta',
 'Amphipoda',
 'Copepoda_Heterorhabdus',
 'Copepoda_Scolecithricella',
 'Copepoda_Gaetanus',
 'Cnidaria',
 'Foraminifera',
 'Trochophora',
 'Antenna',
 'Copepoda_dead']